body {
    /*background-color: #010A14;*/
    color: #E3D8B5 !important;
}

html {
    background-color: inherit !important;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    cursor: default;
    overflow: hidden !important;
    background-image: url('../img/background.png');
    /*background-attachment: scroll;*/
    background-size: cover;
}



input {
    background: #1E2327;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.subtitle {
    font-size: 1.20rem !important;
}

.close-icon{
  position: absolute;
  right: 10px;
  top: 5px;
  width: 30px;
  height: 19px;
  cursor: pointer;
  background-image: url('../img/close.png');
}

.close-icon:hover{
  background-image: url('../img/close-active.png');
}

.league-text{
  color: #E3D8B5 !important;
}
