<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Riftwalk</title>
    <link rel="stylesheet" href="css/riftwalk.css">
    <link rel="stylesheet" href="css/bulma.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

<script src="jquery.min.js"></script>
<script src="socket.io.js"></script>
<script src="events.js"></script>
<script src="riftwalk.js"></script>
<script src="vue.js"></script>

<script>if (window.module) module = window.module;</script>
<body onload="DOMready()">
    <!-- <img src="img/close.png" class="close-icon" style=""> -->
    <div id="app">
        <div class="no-drag close-icon" @click="close"></div>
        <section class="section" id="firstTimeSetup" v-if="firstTime" style="padding-top: 30px;">
            <div class="container" :style="{left: (step == 1) ? '0px' : '-500px', transition: 'left 0.3s'}">
                <h1 class="title league-text" v-bind:style="{opacity: titleOpacity, transition: 'opacity 0.2s'}">
                    Welcome to Riftwalk!
                </h1>
                <p class="subtitle league-text" v-bind:style="{opacity: subtitleOpacity, transition: 'opacity 0.5s', 'font-size': '1.1rem !important'}">
                    We'll help you get started with this companion app.
                </p>
                <div v-bind:style="{opacity: actionOpacity, transition: 'opacity 0.5s'}">
                  <p class="league-text">Select your League of Legends {{platform == "darwin" ? ".app file" : "directory"}}</p>
                  <section class="section" style="background-color: rgba(1, 10, 20, 0.45); padding: 1em;">
                    <div class="container">

                      <nav class="level is-mobile">
                        <!-- Left side -->
                        <div class="level-left">
                          <div class="level-item">
                            <p class="" style="width: 280px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                              {{client.gameDirectory ? client.gameDirectory : directoryMessage}}
                            </p>
                          </div>
                        </div>

                        <!-- Right side -->
                        <div class="level-right">
                          <p class="level-item"><a class="no-drag button is-light" @click="selectDirectory()">Browse</a></p>
                        </div>
                      </nav>
                    </div>
                  </section>
                  <a class="no-drag button is-info" style="margin-left: auto;margin-right: auto;position: relative;display: inherit;top: 15px;width: 220px;" :disabled="!client.gameDirectory" @click="next()">Next</a>
                </div>
            </div>
            <div class="container" :style="{left: (step == 2) ? '0px' : '500px', transition: 'left 0.3s', top: '-211px'}">
                <h1 class="title league-text" :style="{opacity: titleOpacity, transition: 'opacity 0.2s'}">
                    Step 2
                </h1>
                <p class="subtitle league-text" :style="{opacity: subtitleOpacity, transition: 'opacity 0.5s'}">
                    Connect your smartphone
                </p>
                <section class="section" style="background-color: rgba(1, 10, 20, 0.45); padding: 1em;">
                  <div :class="{loader: !code}" class="container" style="font-size: 42px; text-align: center;">
                      {{code}}
                  </div>
                </section>
                <p class="league-text" style="margin-top: 1.5rem;text-align: center;" :style="{opacity: (code ? 1 : 0),  transition: 'opacity 0.5s'}">
                    Enter this code in your mobile app to continue
                </p>
            </div>
        </section>
        <section class="section" v-if="!firstTime" style="padding-top: 30px;">
          <div class="container">
              <h1 class="title league-text" :style="{opacity: 1, transition: 'opacity 0.2s'}">
                  Devices
              </h1>
              <section class="section" style="background-color: rgba(1, 10, 20, 0.45); padding: 1em;">
                <div class="container loader" style="font-size: 42px; text-align: center;" v-if="loading">
                </div>
                <div v-if="!loading">
                  <table class="table is-fullwidth" style="background-color: transparent; color: #E3D8B5;">
                    <tbody>
                      <tr v-for="device in devices" style="padding-bottom: 5px;">
                        <td class="device-td"><span class="icon"><i class="fa" :class="[device.type == 'a' ? 'fa-android' : 'fa-apple']"></i></span></td>
                        <td class="device-td"><span style="width: 180px !important;text-overflow: ellipsis;display: inline-block;overflow: hidden;white-space: nowrap;">{{device.device_name}}</span></td>
                        <td class="device-td">Added {{device.timestamp}}</td>
                        <td class="device-td"><a class="button is-danger is-small"><span class="icon is-small"><i class="fa fa-times"></i></span></a></td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <a class="button is-success">
                    <span class="icon is-small">
                      <i class="fa fa-plus"></i>
                    </span>
                    <span>Add New</span>
                  </a> -->
                </div>
              </section>
              <div class="columns is-mobile" style="margin-top: 2px;">
                <div class="column" style="padding-top: 2px;">
                  <div class="box" style="background-color: rgba(1, 10, 20, 0.45); padding: 1em;">
                    <nav class="breadcrumb" aria-label="breadcrumbs" style="width: 155px;margin: auto;">
                      <ul>
                        <li><a href="#" style="color: #5dbf8f;"><span class="icon is-small"><i class="fa fa-check"></i></span><span>Client</span></a></li>
                        <li><a href="#" style="color: #5dbf8f;"><span class="icon is-small"><i class="fa fa-check"></i></span><span>API</span></a></li>
                      </ul>
                    </nav>
                </div>
                </div>
                <div class="column" style="padding-top: 2px;">
                  <div class="box" style="background-color: rgba(1, 10, 20, 0.45); padding: 1em;">
                    <a class="button is-dark league-text" style="width: 100%">
                      <span class="icon">
                      <i class="fa fa-cog"></i>
                    </span><span>Settings</span></a>
                </div>
                </div>

                </div>
          </div>
        </section>
    </div>
</body>
<script src="ui.js"></script>
<script>

    window.addEventListener('DOMMouseScroll', function(e) {
        e.preventDefault();
    }, false);

    function DOMready() {
        if (localStorage.getItem('completedSetup') != "true") {
            console.log('completed setup is not true -- clearing')
            localStorage.clear()
            client.gameDirectory = null
        }
        //selectDirectory()
        validateDirectory((success) => {
          if (success){
            client.lockFileInterval = setInterval(checkLeagueClientOpen, LOCK_FILE_RATE)
            ui.firstTime = false
            connectToAPI()
          }
          else {
            ui.startSetup()
          }
        })
    }
</script>

</html>
